.vjs-control-bar{
          height:39px;
          margin: 0px;
          background-color:#000;
    }
    .vjs-tech {
          pointer-events: none;
    }
    .video-js .vjs-progress-control:hover .vjs-mouse-display,
    /* hide time display on progress bar on the current play position */
    .video-js .vjs-progress-holder .vjs-play-progress {
          display: none;
    }
    .vjs-loading-spinner{
          display:none!important;
    }
    .vjs-default-skin.vjs-paused .vjs-big-play-button {
    display: none;
    }

    .vjs-progress-control {
      display:none;
    }
    .vjs-progress-holder {
      display:none;

    }
    .vjs-progress-control .vjs-control {
      width:100%;
      display: blocks;
        float: left;
    }
	

	