﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="divLogin" class="login-block">
            <form id="formInput" class="loginPanel" role="form" action="rule.html">
                <div class="form-group">
                    <div class="inputPanel">
                        <input id="Username" class="form-control" type="text" placeholder="Username">
                        <input id="Password" class="form-control" type="password" placeholder="Password">
                        <div class="btn btn-cancel" role="button"><i class="icon icon-cancel"></i></div>
                    </div>
                    <div id="warringMessageFade" class="tooltip bottom fade" role="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div id="warringMessage" class="tooltip-inner"></div>
                    </div>
                    <button id="LoginBtn" type="button" class="btn btn-primary btn-block btn-login" onclick="login(event)">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="Scripts/require.js"></script>
<script src="Scripts/require_config.js"></script>
<script>
    //todo 應該在main.js & 使用bundles
    require(['react'], function (React) {
        window["React"] = React;
        if (!React.render) {
            require(['create-react-class', 'react-dom'], function (createClass, reactDom) {
                if (!React.createClass) React.createClass = createClass;
                if (!React.findDOMNode) React.findDOMNode = reactDom.findDOMNode;
                if (!React.render) React.render = reactDom.render;
                if (!React.unmountComponentAtNode) React.unmountComponentAtNode = reactDom.unmountComponentAtNode;
            });
        }

    });

    function DomObj(name) {
        return document.getElementById(name);
    }

    function login(e) {
        e.stopPropagation();
        var Username = DomObj('Username').value.toLowerCase();
        var Password = DomObj('Password').value;

        require(['jquery', 'common'], function ($, common) {

            var data = { Username: Username, Password: Password };
            common.SyncServer(
                'Login/index',
                data,
                function (val) {
                    loginResult(val);
                }.bind(this),
                false,
                $
            );
        });
    }

    function loginResult(val) {
        console.log(val);

        var success = false;
        var errMsg = "";

        require(['backbone', 'router'], function (Backbone, router) {
            Backbone.history.start();
        });

        success = true;

        return {
            success: success,
            errMsg: errMsg
        }
    }
</script>
</html>
